.catalog-container
  display: block
  margin-left: 20px
  flex-basis: 280px
  -webkit-flex-basis: 280px
  flex-shrink: 0
  -webkit-flex-shrink: 0
  @media m-pad
    display: none
  .fixed-toc
    position: fixed
    top: 120px
    bottom: 0px;
    overflow-y: auto;
  .toc-main
    padding-left: 20px
    border-left: 1px solid color-border
    width: 280px
    box-sizing: border-box
    .toc-title
      font-size: 1.2em
      position: relative
    .toc-nav
      padding: 0
      margin-top: 1em
    ol
      list-style-type: none;
      padding-left: 20px
    li
      list-style-type: none
      line-height: 1.5
